services:
  bridge:
    image: ghcr.io/romea/campero
    build:
      context: ../
      dockerfile: docker/Dockerfile
      network: host
      ssh: [default]
    network_mode: host
    volumes:
      - ..:/bridge_ws/src/bridge:ro,Z
    environment:
      - ROS_IP=127.0.0.1
      - ROS_MASTER_URI=http://192.168.100.1:11311
      - ROS_DOMAIN_ID=1
    command: >-
      ros2 run campero_bridge campero_bridge
        --ros-args
        -r __ns:=/campero/base
        -p override_ros1_master:=false

