<?xml version="1.0"?>
<robot name="campero" xmlns:xacro="http://www.ros.org/wiki/xacro">

   <xacro:include filename="$(find romea_mobile_base_description)/urdf/base4WD.chassis.xacro" />
   <xacro:include filename="$(find campero_description)/urdf/visual/chassis.xacro" />
   <xacro:include filename="$(find campero_description)/urdf/visual/wheels.xacro" />

   <xacro:macro name="campero" params="model mode prefix">

      <xacro:property name="conf" value="$(find campero_description)/config/campero_${model}.yaml" />
      <xacro:include filename="$(find campero_description)/urdf/campero_properties.xacro" />

      <xacro:chassis>
         <chassis_visuals>
           <xacro:chassis_visual />
         </chassis_visuals>
         <xacro:front_left_wheel_visual />
         <xacro:front_right_wheel_visual />
         <xacro:rear_left_wheel_visual />
         <xacro:rear_right_wheel_visual />
      </xacro:chassis>

   </xacro:macro>

</robot>